.right-container-reset {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  margin: 70px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: #ffffff;
  width: 320px;
  padding: 30px 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.2);
  animation: scaleIn 0.25s ease;
}

.modal-box h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #222;
}

.modal-box p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.modal-box button {
  background: #6acbd0;
  color: #fff;
  border: none;
  padding: 10px 28px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.modal-box button:hover {
  background: #0d6efd;
}

/* Animation */
@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.boxmark-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
