* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
}
body {
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

form h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  color: #452b56;
}

form h4 {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  color: #161a1a;
}

form p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  color: #161a1a;
}

input::placeholder {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  color: #999d9d;
}

.inner-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.left-container {
  width: 50%;
}
/* left container image (Obi's Change) */
.left-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.diagonal {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 180px;
  background: #6acbd0;

  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.right-container {
  width: 50%;
  /* background-color: white; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}

form {
  gap: 15px;
  display: flex;
  flex-direction: column;
  max-height: 800px;
  height: 100%;
}

.flex-box {
  gap: 20px;
  display: flex;
}

.row {
  display: flex;
  gap: 10px;
  width: 100%;
}
.row-write {
  display: block;
  width: 50%; /* Obi's Change */
}

.row-write h4 {
  margin-bottom: 10px;
}

.row-write p {
  margin-top: -17px;
  text-align: center;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 12px;
  height: 48px;
  border: 1px solid black;
}

.backBttn {
  width: 503px;
  height: 56px;
  gap: 10px;
  border-radius: 24px;
  padding: 17px 48px 17px 48px;
  background: #6acbd0;
  border: none;
  color: white;
  cursor: pointer;
}

.login {
  text-align: center;
  margin-top: 10px;
}

a {
  color: #6acbd0;
  text-decoration: none; /* removes underline */
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}

.right-container h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  color: #452b56;
  align-items: center;
}

.right-container h6 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
span {
  color: #6acbd0;
}

/* .right-container h6,
.right-container p {
    text-align: left;
} */

.fill-password {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.fill-password div {
  background: #6acbd0;
  width: 92px;
  height: 6px;
  border-radius: 4px;
}

.fill-password div:nth-child(4),
.fill-password div:nth-child(3) {
  background: #f3f2f2;
}

.ring-btn {
  width: 48px;
  height: 48px;
  padding: 9px 0px 0px 9px;
  border-radius: 50%;
  border: 1px solid #452b56;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .heading {
    display: flex;
} */

.pha h3 {
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
}

.social-login {
  display: flex;
  gap: 10px;
}

.social-google,
.social-facebook {
  width: 246px;
  height: 56px;
  border-radius: 24px;
  border-width: 1px;
  gap: 10px;
  padding: 17px 48px 17px 48px;
  border: 1px solid #6acbd0;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 16px;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #999d9d;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .inner-container {
    flex-direction: column;
  }

  .left-container,
  .right-container {
    width: fit-content;
  }

  .diagonal {
    display: none;
  }
}

@media (max-width: 425px) {
  .left-container,
  .right-container {
    width: fit-content;
  }
}

.diagonal{
  display: none;
}


@media  (max-width: 425px) {
.left-container{
  width: 80%;
  
} 
}



 






